.detailsWrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > img {
    max-width: 100vw;
  }
}

.configWrapper {
  max-width: 1797px;
  margin: 69px 62px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 25px;

  & > h1 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    font-weight: normal;
    font-size: 32px;
    line-height: 75px;
  }
}

.configList {
  display: flex;

  & > div:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
  }

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 86px 50px 78px;

    & > h2 {
      font-weight: normal;
      font-size: 30px;
      line-height: 75px;
    }

    & > h4 {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    & > p {
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 20px;
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 1450px) {
  .configWrapper {
    margin: 20px;
    padding: 20px;

    & > h1 {
      font-size: 25px;
    }
  }

  .configList {
    flex-direction: column;

    & > div:not(:last-child) {
      border-right: none;
      border-bottom: 1px solid black;
    }

    & > div {
      padding-bottom: 25px;
      padding-left: 2px;
      padding-right: 2px;

      & > h2 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
      }

      & > h4 {
        font-size: 15px;
      }

      & > p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
      }
    }
  }
}
