.footerWrapper {
  width: 100%;
  position: sticky;
  bottom: 0;
  height: 132px;
  padding: 0 70px 0 70px;
  background-color: #000000;
}

.listForFooter {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;

  & > li {
    width: fit-content;
    font-size: 30px;
    font-weight: normal;
    line-height: 42px;
    color: #ffffff;
    cursor: pointer;
    margin-right: 129px;
  }

  & > li:hover {
    color: black;
    background-color: antiquewhite;
  }
}
